<?xml version="1.0"?>
<config>
  <modules>
    <Cammino_Erpimportfixer>
      <version>0.0.1</version>
    </Cammino_Erpimportfixer>
  </modules>
  <global>
    <models>
      <cammino>
        <class>Cammino_Erpimportfixer_Model</class>
      </cammino>
    </models>
  </global>
  <crontab>
    <jobs>
      <cammino_erpimportfixer_job>
        <schedule>
          <cron_expr>*/15 * * * *</cron_expr>
        </schedule>
        <run>
          <model>cammino/job::group</model>
        </run>
      </cammino_erpimportfixer_job>
    </jobs>
  </crontab>
</config>